body {
    background-color: rgb(85, 85, 85);

}
label {
    color: rgb(255, 255, 255);
}

form {
    background-color:cornflowerblue;
    border-radius: 20px;
    padding: 1rem;
    font-family:Tahoma
}

div {
    color: white;
}